<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Historial de Préstamos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <!-- Estado 1: Cuando el historial está vacío -->
<div *ngIf="historialPrestamos.length === 0" class="vacio-container ion-text-center">
  <ion-icon name="folder-open-outline"></ion-icon>
  <h3>No hay registros guardados</h3>
  <p>Las simulaciones que guardes en la pestaña del Simulador aparecerán listadas aquí.</p>
</div>

  <!-- Estado 2: Lista de préstamos guardados -->
  <div *ngIf="historialPrestamos.length > 0">
    <h5 class="ion-padding-start" style="font-weight: bold; color: var(--ion-color-medium-shade);">Consultas recientes</h5>
    
    <ion-card *ngFor="let prestamo of historialPrestamos">
      <ion-card-header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <ion-card-title color="dark" style="font-weight: bold;">
            RD$ {{ prestamo.monto }}
          </ion-card-title>
          <ion-badge color="primary">{{ prestamo.fecha }}</ion-badge>
        </div>
        <ion-card-subtitle>Cálculo de Amortización Fija</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">
          <ion-item style="--min-height: 30px;">
            <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
            <ion-label>
              <strong>Cuota Mensual:</strong> RD$ {{ prestamo.cuotaMensual }}
            </ion-label>
          </ion-item>

          <ion-item style="--min-height: 30px;">
            <ion-icon name="calendar-outline" slot="start" color="warning"></ion-icon>
            <ion-label>
              <strong>Plazo:</strong> {{ prestamo.meses }} meses
            </ion-label>
          </ion-item>

          <ion-item style="--min-height: 30px;">
            <ion-icon name="trending-up-outline" slot="start" color="danger"></ion-icon>
            <ion-label>
              <strong>Tasa de Interés:</strong> {{ prestamo.tasaAnual }}% Anual
            </ion-label>
          </ion-item>

          <ion-item style="--min-height: 30px; border-top: 1px dashed var(--ion-color-medium-tint); margin-top: 10px; padding-top: 5px;">
            <ion-icon name="wallet-outline" slot="start" color="secondary"></ion-icon>
            <ion-label>
              <strong>Total a Pagar:</strong> RD$ {{ prestamo.totalPagar }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
