/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* ==========================================================================
   DISEÑO MODERNO PARA LA BARRA DE PESTAÑAS (TABS) - GRUPO L
   ========================================================================== */

ion-tab-bar {
  
  position: relative;
  width: 100%;
  height: 65px;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  
  
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px); // Efecto de cristal
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  
  // Animación suave de transición
  transition: all 0.3s ease-in-out;
  padding: 0 10px;
}

// Estilo individual de cada pestaña (Botón)
ion-tab-button {
  --background: transparent;
  --color: #a0aec0;              // Color gris elegante para pestañas inactivas
  --color-selected: var(--ion-color-primary); // Color principal de la app cuando está activa
  
  font-weight: 500;
  transition: transform 0.2s ease;

  // Ajustes de tamaño y espaciado para los íconos
  ion-icon {
    font-size: 1.5rem;
    margin-bottom: 4px;
    transition: transform 0.2s ease;
  }

  ion-label {
    font-size: 0.75rem;
    letter-spacing: 0.3px;
  }

  // Efecto visual dinámico cuando el usuario presiona la pestaña activa
  &.tab-selected {
    font-weight: 700;
    
    ion-icon {
      transform: translateY(-2px) scale(1.1); // Hace que el ícono brinque sutilmente
    }
  }
}


